/* .Container {
    display: flex; 
    justify-content: center;
} */

.Refresh {
    padding: 10px;
    border: none;
    background-color: #218738;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 15px 10px 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
    transition: all .3s;
}

.Refresh:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.Recycle:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.Recycle {
    padding: 10px;
    border: none;
    background-color: #0069D9;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 15px 10px 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
    transition: all .3s;
}

.Recycle:disabled {
    background-color: #70AAFE;
    cursor: not-allowed;
}